body{
	background-color: #DEDEFF;
	font-family: Verdana;
	padding: 1%;
	margin: 1%;
}

div{
	background-color: white;
}

#burua{
	position: fixed;
	top: 2%;
	width: 96%;
	height: 14%;
}
#burua > span{
	text-align: right;
}

#estekak{
	position: fixed;
	width: 12%;
}

#edukia{
	position: absolute;
	left: 16%;
	width: 82%;
	overflow:auto;
}

#estekak, #edukia{
	top: 18%;
	height: 62%;
}

#oina{
	position: fixed;
	bottom: 2%;
	width: 96%;
	text-align: center;
}

table, td {
	border: 1px solid black;
	padding : 2px;
}